/*all*/
*{
    padding: 0;
    margin: 0;
}

a {
    color: #078401;
    text-decoration: none;
}
    a:hover {
        text-decoration: underline;
    }


/*nav*/
header {
    height: 50px;
    border-bottom: 1px solid #e1ff9a;
}
    header #logo {
        display: inline-block;
        width: 60px;
        height: 40px;
        background: url(../images/logo.png) no-repeat;
        background-size: 60px 44px;
        line-height: 100em;
        overflow: hidden;
    }


#uploaded-postcards > li{
    display: inline-block;
    width: 168px;
    height: 168px;
    box-sizing: border-box;
    margin: 0 10px 0 10px;
}